<h2>Data-binding Works</h2>
<!-- Interpolation  -->
<!-- <h1> FirstName :{{firstname}}</h1>
<h1>LastName :{{Lastname}}</h1> -->
<h2>Axiom {{atg}}</h2>

<!-- Property Binding -->
<p [innerText]="var2"></p>

<h3 [style.color]="bgcolor"> axiom techguru</h3>
<!-- <h1 [innerText]="var1"></h1>
<button [disabled]="isDisable">afadfda</button> -->
<button (click)="Show()"> Click</button>

<!-- Event Binding -->
<!-- <button (click)="Display()">Click Here!</button> -->

<!-- Style Binding -->
<!-- <p [style.color]="color">Nazim</p> -->

<!-- Two  Way Data Binding -->
<!-- <input [(ngModel)]="name"> -->
<!-- <div>{{name}}</div> -->

<!-- <button (click)="display()">Show</button> -->

<!-- <div>{{name}}</div> -->